.exit-border {
    border-bottom: 2px dashed blueviolet;
}

mat-grid-tile {
    background-color: lightgrey;
}

.visited {
    background-color: lightcyan;
}

.current {
    background-color: lightgreen;
}